h2{
    color:blue;
    font-family: 'Spicy Rice', cursive;
}
h1{
    font-family: 'Fjalla One', sans-serif;
}
body{
     background:#e04c4c;
}
h1{
    color:#4453bf;
}
p{
    font-family: 'Muli', sans-serif;
}
li{
    font-family: 'Josefin Sans', sans-serif;
}